@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  user-select: none;
}

nav .logo {
  color: white;
  font-size: 2.05em;
  font-weight: bold;
  line-height: 4em;
  padding-left: 3em;
}
nav {
  height: 5em;
  box-shadow: 0 0.18em 0.9pem rgba(0, 0, 0, 0.4);
}
nav ul {
  float: right;
  margin-right: 3em;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #043450;
  display: block;
  padding: 0 2em;
  line-height: 4.35em;
  font-size: 1.25em;
  transition: 0.5s;
}
nav ul li a:hover,
nav ul li a.active {
  color: #ffa201;
}
nav ul ul {
  position: absolute;
  top: 5.3em;
  background: white;
  border-top: 0.18em solid #ffa201;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul {
  top: 4.35em;
  opacity: 1;
  visibility: visible;
  transition: 0.3s linear;
}
nav ul ul li {
  width: 9.35em;
  display: list-item;
  position: relative;
}
nav ul ul li a {
  line-height: 3.12em;
}

nav ul ul li a i {
  margin-left: 2.8em;
}

.btnWhite {
  font-weight: bold;
  margin: 1em;
  padding: 0.4em 0.8em;
  font-size: 1em;
  border-radius: 1em;
  cursor: pointer;
  background-color: white;
  border: none;
  color: #043450;
}

.box {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #043450;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.form label {
  display: inline-block;
  margin-bottom: 0.4em;
}

.form input {
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  border-bottom: 0.1em solid white;
  width: 100%;
  font-size: 1em;
}

.form input:focus {
  outline: none;
}

.box p {
  margin-top: 1.5em;
  text-align: center;
}

.link-txt a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer {
  position: absolute;
  top: 93%;
  width: 100%;
  background: #043450;
  text-align: center;
  padding: 4px;
  color: white;
}
